html, body {
    width: 400px;
    height: 500px;
    overflow: hidden;

    margin: 0;
    padding: 0;
    border: 0;

    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #323232;
    color: #efefef;

    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#content {
    width: 400px;
    height: 500px;
}

.header {
    width: 100%;
    height: 41px;

    margin-top: 20px;
    margin-bottom: 20px;

    background: url("../img/logo.png") no-repeat center center;
}

.background {
    background: url("/assets/img/background/sad.png") no-repeat center right;
    width: 240px;
    height: 220px;
    left: 160px;
    top: 130px;
    position: absolute;
}

.background.active.a {
    background: url("/assets/img/background/eraser.png") no-repeat center right;
}

.background.active.b {
    background: url("/assets/img/background/knight.png") no-repeat center right;
}

.background.active.c {
    background: url("/assets/img/background/Pssst.png") no-repeat center right;
}

.background.active.d {
    background: url("/assets/img/background/surfer.png") no-repeat center right;
}

.protection h1 {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 30px;

    color: #cb311a;
}

.protection span {
    font-weight: 500;
}

.protection.active h1 {
    color: #88b639;
}

.slider-container {
    margin-left: auto;
    margin-right: auto;

    padding-top: 30px;
    padding-bottom: 30px;

    width: 100px;
}

.footer {
    position: absolute;
    bottom: 0px;
}

.nowrap {
    white-space: nowrap;
}

.country-selector > img {
    display: block;
    float: left;
    position: relative;
    left: 18%;
    top: 3px;
}

.ui-select-container {
    width: 50%;
    margin: 0 auto;
    display: table;
}

.ui-select-container .ui-select-toggle,
.ui-select-container input,
.ui-select-container .ui-select-choices,
.ui-select-bootstrap .ui-select-choices-row > span {
    background-color: #323232;
    color: #efefef;
}

.ui-select-bootstrap .ui-select-choices-row > span:hover {
    background-color: #545454;
    color: #efefef;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    cursor: pointer;
    display: block;
    padding: 3px 8px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.ui-select-refreshing.glyphicon,
.ui-select-toggle>a.btn {
    visibility: collapse;
}